/* http://9kg.me
   v0.2 | 20131004
   License: none (public domain)
   Author: Malikov A.V. <alexrettvm@gmail.com>
*/
body {font-size: 12px; font-family: SANS-SERIF; background: #ffffff;}
a {text-decoration: none; color: #5c9df5;}
a:hover {text-decoration: underline;}

/* Reusable column setup */
.col {
    /*outline: 1px solid red;*/
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.col {
    margin-left:1%;
    /*padding:0 0.5%;*/
}

.col_pn {
    /*padding: 0 0 !important;*/
}

.row .col:first-child {
    margin-left:0;
}

@-ms-viewport{width:device-width}.row:before,.row:after{content:" ";display:table}
.row { clear: both;}
.row:after{clear:both}

.span_1 {
    width:7.41666666667%;
}
.span_2 {
    width:15.8333333333%;
}
.span_3 {
    width:24.25%;
}
.span_4 {
    width:32.6666666667%;
}
.span_5 {
    width:41.0833333333%;
}
.span_6 {
    width:49.5%;
}
.span_7 {
    width:57.9166666667%;
}
.span_8 {
    width:66.3333333333%;
}
.span_9 {
    width:74.75%;
}
.span_10 {
    width:83.1666666667%;
}
.span_11 {
    width:91.5833333333%;
}
.span_12 {

    margin-left:0;
    width:100%;
}

.container {width: 100%; min-width: 1005px; height: 100%; min-height: 500px; }
.column {height: 100%; position: fixed; top: 0px; left: 0px; display: block; width: 320px;}
.offset_left_320 {margin-left: 320px;}
.offset_left_80 {margin-left: 80px;}
.offset_20 {padding: 20px;}
.pull_right {float: right;}
.main_menu {display: block; width: 80px; height: 100%; position: absolute; top: 0px; left: 0px; background: #2f323a; box-shadow: 0px 0px 80px #191b20;}
.main_menu ul li a {display: block; width: 80px; height: 80px; border-bottom: 1px solid #393c43; border-top: 1px solid #272a30; cursor: pointer; text-align: center; vertical-align: middle; line-height: 80px;}
.main_menu ul li a.active {background: #5c9df5;}
.main_menu ul li:first-child a {display: block; width: 80px; height: 80px; border-bottom: 1px solid #393c43; border-top: none;}
.main_menu ul li:last-child a {display: block; width: 80px; height: 80px; border-bottom: none; border-top: 1px solid #272a30;}
.sub_navigation h1 {text-align: center; font-size: 18px; color: #ffffff; padding: 20px 0px;}
.sub_navigation ul li {padding: 0px 0px; border-bottom: 1px solid #2e3138;}
.sub_navigation ul li:last-child { border-bottom: none;}
.sub_navigation ul li span {display: block; padding: 10px 20px; color: #656669;}
.sub_navigation ul li a {display: block; padding: 10px 20px; color: #ebdbdb; text-decoration: none;}
.sub_navigation ul li a.active {background: #1e2025;}
.sub_navigation ul li a:hover {color: #5c9df5;}
.sub_navigation ul li a.active:hover {color: #ffffff;}
.img {border: 1px solid #c9c9c9; width: 100%;}
.context p {line-height: 30px;}
.context label {width: 100px; display: inline-block; line-height: 12px;}
.context input {width: 60%; line-height: 20px; padding: 0 5px; border: 1px solid #c9c9c9;}

.header {display: block; width: 100%; height: 56px; clear: both; background: #fff; border-bottom: 1px solid #c9c9c9;border-top: 1px solid #c9c9c9; z-index: 100000;}
.header a {display: inline-block; width: 56px; height: 56px; border-right: 1px solid #c9c9c9; text-align: center; vertical-align: middle; line-height: 56px;}
.header span {display: inline-block; width: auto; padding: 0 20px; height: 56px; border-right: 1px solid #c9c9c9; text-align: center; vertical-align: middle; line-height: 56px;}
.header a#selectAll {width: 110px;}
.header button {
    background: #fff;
    border: none;
    border-left: 1px solid #c9c9c9;
    margin: 0px;
    padding: 0px;
    width: 56px;
    height: 56px;
}
.header a.pull_right {display: inline-block; width: 56px; height: 56px; border-left: 1px solid #c9c9c9; border-right: none;}

.btn {display: inline-block; background: #5c9df5; color: #fff; padding: 0 10px 0; border: none; line-height: 30px;}

.table {z-index: 1000; display: block; width: 100%;}
.table table {width: 100%;}
.table table thead tr th {vertical-align: middle; text-align: left; line-height: 40px; height: 40px; padding: 5px; border-bottom: 1px solid #c9c9c9; background: #ebebeb}
.table table thead tr th a {color: #999;}
.table table tr td {vertical-align: middle; text-align: left; line-height: 40px; height: 40px; padding: 5px; border-bottom: 1px solid #ececec}
.table table tr:last-child td {border-bottom: none;}
.table table tr td img {width: 40px; vertical-align: middle;}
.table table tr.odd td {background: #fbfbfb}
.table table tr.even td {}
.table table tr:hover td {background: #f1e9e9;}
.table table tr.selected td {background: #dfe9ed;}
.table table tr td a {display: block;}
.table table tr td a.btn {display: inline-block; background: #5c9df5; color: #fff; padding: 0 10px 0 15px; float: right;}
.table table tr td a.btn.red {background: #fe3a43;}
.table table tr td a.btn i {display: inline-block; margin-left: 5px;}
.dark {background: #272a30;}
.white {background: #ffffff;}

.error-block {position: fixed; top: 70px; right: 10px; border: 1px solid #fe3a43; background: #f9c3c6; width: 200px; padding: 20px;}
.error-block h3 {font-weight: bold;}

.icon {cursor:pointer;}
i.icon {display: inline-block; vertical-align: middle;}
i.icon.search {width: 36px; height: 36px; background: url(../images/sp_b.png) no-repeat -15px -15px;}
a:hover i.icon.search {background: url(../images/sp_b.png) no-repeat -75px -15px;}
a.active i.icon.search {background: url(../images/sp_b.png) no-repeat -135px -15px;}

i.icon.user {width: 36px; height: 36px; background: url(../images/sp_b.png) no-repeat -15px -75px;}
a:hover i.icon.user {background: url(../images/sp_b.png) no-repeat -75px -75px;}
a.active i.icon.user {background: url(../images/sp_b.png) no-repeat -135px -75px;}

i.icon.news {width: 36px; height: 36px; background: url(../images/sp_b.png) no-repeat -15px -200px;}
a:hover i.icon.news {background: url(../images/sp_b.png) no-repeat -75px -200px;}
a.active i.icon.news {background: url(../images/sp_b.png) no-repeat -135px -200px;}

i.icon.video {width: 36px; height: 36px; background: url(../images/sp_b.png) no-repeat -15px -385px;}
a:hover i.icon.video {background: url(../images/sp_b.png) no-repeat -75px -385px;}
a.active i.icon.video {background: url(../images/sp_b.png) no-repeat -135px -385px;}

i.icon.photo {width: 36px; height: 36px; background: url(../images/sp_b.png) no-repeat -15px -445px;}
a:hover i.icon.photo {background: url(../images/sp_b.png) no-repeat -75px -445px;}
a.active i.icon.photo {background: url(../images/sp_b.png) no-repeat -135px -445px;}

i.icon.settings {width: 36px; height: 36px; background: url(../images/sp_b.png) no-repeat -15px -325px;}
a:hover i.icon.settings {background: url(../images/sp_b.png) no-repeat -75px -325px;}
a.active i.icon.settings {background: url(../images/sp_b.png) no-repeat -135px -325px;}

i.icon.thumbnails {width: 16px; height: 16px; background: url(../images/sp_b.png) no-repeat -213px -13px;}
a:hover i.icon.thumbnails {background: url(../images/sp_b.png) no-repeat -273px -13px;}
a.active i.icon.thumbnails {background: url(../images/sp_b.png) no-repeat -273px -13px;}

i.icon.listview {width: 16px; height: 16px; background: url(../images/sp_b.png) no-repeat -213px -73px;}
a:hover i.icon.listview {background: url(../images/sp_b.png) no-repeat -273px -73px;}
a.active i.icon.listview {background: url(../images/sp_b.png) no-repeat -273px -73px;}

i.icon.close {width: 27px; height: 26px; background: url(../images/sp_b.png) no-repeat -211px -542px;}
a:hover i.icon.close {background: url(../images/sp_b.png) no-repeat -331px -542px;}
a.active i.icon.close {background: url(../images/sp_b.png) no-repeat -331px -542px;}

i.icon.edit {width: 27px; height: 26px; background: url(../images/sp_b.png) no-repeat -211px -492px;}
a:hover i.icon.edit {background: url(../images/sp_b.png) no-repeat -331px -492px;}
a.active i.icon.edit {background: url(../images/sp_b.png) no-repeat -331px -492px;}

i.icon.delete {width: 27px; height: 26px; background: url(../images/sp_b.png) no-repeat -211px -372px;}
a:hover i.icon.delete {background: url(../images/sp_b.png) no-repeat -331px -372px;}
a.active i.icon.delete {background: url(../images/sp_b.png) no-repeat -331px -372px;}

i.icon.save {width: 27px; height: 26px; background: url(../images/sp_b.png) no-repeat -211px -432px;}
a:hover i.icon.save {background: url(../images/sp_b.png) no-repeat -331px -432px;}
a.active i.icon.save {background: url(../images/sp_b.png) no-repeat -331px -432px;}

i.icon.settings_mini {width: 16px; height: 16px; background: url(../images/sp_b.png) no-repeat -212px -132px;}
a:hover i.icon.settings_mini {background: url(../images/sp_b.png) no-repeat -332px -132px;}
a.active i.icon.settings_mini {background: url(../images/sp_b.png) no-repeat -292px -132px;}

i.icon.delete_mini {width: 20px; height: 20px; background: url(../images/sp_b.png) no-repeat -212px -252px;}
a:hover i.icon.delete_mini {background: url(../images/sp_b.png) no-repeat -332px -252px;}
a.active i.icon.delete_mini {background: url(../images/sp_b.png) no-repeat -292px -252px;}

i.icon.add_mini {width: 20px; height: 20px; background: url(../images/sp_b.png) no-repeat -212px -192px;}
a:hover i.icon.add_mini {background: url(../images/sp_b.png) no-repeat -332px -192px;}
a.active i.icon.add_mini {background: url(../images/sp_b.png) no-repeat -292px -192px;}

.is-sticky .if_sticky {padding-right: 320px;}

legend {font-size: 16px;}
#newCatInput {display: inline-block;}
input.normal {width: 100px}
input.dt-pic {width: 100px;}

.pic-windows-wrap {margin:3px;}
.pic-windows {display:inline-block;margin:3px 3px 3px 0;border: 1px solid #808080;border-radius:2px;vertical-align:top;}
.deletePic {border-radius:3px; margin-left:-29px; margin-top: 2px; position: absolute; background: rgba(0, 0, 0, 0.5);border-radius: 3px;padding: 4px;}
#pics { display: none; }
.checkboxes { padding:15px 0 15px 0; }
.checkboxes label { white-space:nowrap;font-weight:bold; }
#symbolsCount {display:none;position:relative;background:#B6CF5F;border-radius:2px;bottom:50px;width:200px;text-align:center;white-space:nowrap;opacity:0.8;float:right;right:7px;}

.clear{clear: both;}
#tabs_wrapper a.tab_a {display: inline-block; padding: 20px;}
#tabs_wrapper div.tab {
    display:none;
    border-bottom: 1px solid #ccc;

}
#tabs_wrapper.tab1 div.tab1 {
    display:block;
    width:100%;
}
#tabs_wrapper.tab2 div.tab2 {
    display:block;
    width:100%;
}
#tabs_wrapper.tab3 div.tab3 {
    display:block;
    width:100%;
}
#tabs_wrapper.tab1 a.tab1 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#tabs_wrapper.tab2 a.tab2 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#tabs_wrapper.tab3 a.tab3 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
.postPictures {display: block; padding: 20px; }
.postPictures ul li {float: left;padding: 10px;}
.postPictures ul li div a {display: block;}
.thumbPopup {display:none;background: #ffffff; position: fixed; top: 20px; left: 0%; margin-left: 340px;width: 900px; min-height: 300px; }
.info-block {display:none;position:fixed; top: 70px; right: 10px; border: 1px solid #E6DB55; background: #FFFBCC; width: 200px; padding: 20px;color:#555;border-bottom-right-radius:3px;border-bottom-left-radius: 3px;}
.info-block h3 {font-weight: bold;}
.info-block a {color:#21759b;}
.info-block a:hover {color:#d54e21;}
.draftLayer { margin-top:20px; }
b { font-weight: bold; }
.draftLayer .wrap .tab { display:inline-block; width: 49%; background-color:#2F323A; border-radius: 10px 10px 0 0; text-align: center; }
.draftLayer .wrap .tab a { color: #ffffff; display:inline-block; padding: 5px; text-align: center; }
.draftLayer .wrap .content { padding: 5px; margin-top: 1px; text-align: center; border: solid 1px #C9C9C9; border-radius:0 0 10px 10px; }
.draftLayer .wrap .active { background-color:#2F323A; background-color:#5C9DF5; }
.draftLayer .wrap .all { display:none; }
.draftLayer .wrap .article {  }
.draftLayer .wrap .content p:hover { background-color:#B8E4FF;cursor:pointer;border-radius:5px; }
.draftLayer .wrap .content .deleteDraftButton { padding:1px 5px 1px 5px; border-radius:5px; color:#FF5B56; }
.draftLayer .wrap .content a:hover.deleteDraftButton { text-decoration:none; background-color:#FF9999!important; z-index:999999!important; }
.draftLayer .wrap .content .deleteAll { color:#ffffff; cursor:pointer; border-radius:10px; background-color: #FF473A; width:100%; padding:5px 0 5px 0; margin: 10px 0 10px 0; }
.draftLayer .wrap .content .saveDraft { color:#ffffff; cursor:pointer; border-radius:10px; background-color: #5C9DF5; width:100%; padding:5px 0 5px 0; margin: 10px 0 10px 0; }