#loginForm  {
	width: 290px;
}

#loginForm .field {
	color: #c93609;
	margin: 0 0 18px;
}

#loginForm .field a {
	font: 12px Arial, Tahoma, sans-serif;
	color: #c93609;
}

#loginForm .field .socials {
	margin-top:10px;
}

#loginForm .field label {
	display: block;
	margin: 0 0 11px;
}

#forgot {
	float: right;
	font-size: 11px;
	color: #ababab;
	text-decoration: none;
	margin: 0;
}
#forgot:hover {
	color: #444;
	text-decoration: underline;
}
#loginForm .submit {
	overflow: hidden;
	margin: 30px -24px 0;
	padding: 22px 24px;
	background: #F0F5F7;
	border-top: 1px solid #DDE0E8;
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 1px #FFF, inset -1px -1px #F7FAFB, inset 1px 0 #F7FAFB;
	font-size: 11px;
}
#remember {
	display: block;
	margin: 5px 0 0;
	cursor: pointer;
}
#remember input {
	margin: 0 4px 0 0;
	vertical-align: middle;
}
#loginForm .submit button {float:right;}
