#loginForm  {
	width: 290px;
	background: #444444; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0NDQ0NDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzMzMzMzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #444444 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #444444 0%,#333333 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #444444 0%,#333333 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #444444 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	margin: -25px;
	padding: 22px 24px;
	box-shadow: 0px 0px 60px #000;
}

#loginForm .field {
	color: #f4f4f4;
	margin: 0 0 0px;
}

#loginForm .field a {
	font: 12px Arial, Tahoma, sans-serif;
	color: #ccc;
}

#loginForm .field .socials {
	margin-top:10px;
}
#loginForm .field input[type=text],
#loginForm .field input[type=password]
{
	padding: 5px;
	width: 95%;
}
#loginForm .field label {
	display: block;
	font-weight: normal; font-size: 12px;

	margin: 0 0 1px;
}

#forgot {
	float: right;
	font-size: 11px;
	color: #999;
	text-decoration: none;
	margin: 0;
}
#forgot:hover {
	color: #999;
	text-decoration: underline;
}
#loginForm .submit {
	overflow: hidden;
	margin: 0px -24px 0;
	padding: 22px 24px;
	font-size: 11px;
}
#remember {
	display: block;
	margin: 5px 0 0;
	cursor: pointer;
	color: #999;
}
#remember input {
	margin: 0 4px 0 0;
	vertical-align: middle;
}
#loginForm .submit button {float:right;}

.vkontakte {
    background: url('/resources/images/social-icons/vk.png') no-repeat 0 center;
    padding: 0 15px 0 20px;
}

.twitter {
    background: url('/resources/images/social-icons/twitter.png') no-repeat 0 center;
    padding: 0 15px 0 20px;
}
.facebook {
    background: url('/resources/images/social-icons/facebook.png') no-repeat 0 center;
    padding: 0 15px 0 20px;
}

.google {
    background: url('/resources/images/social-icons/gplus.png') no-repeat 0 center;
    padding: 0 15px 0 20px;
}
