.baloon { 
	cursor: pointer;
	padding: 20px; 
	background-color: black; 
	opacity: 0.80; 
	border-radius: 5px; 
	color: #FFFFFF;
	z-index: 10;
}

.baloon .wrap {
	overflow: hidden;
	word-wrap: break-word;
}

.baloon .wrap .baloonText {
	z-index: -1;
}

.baloon .wrap .arrow, .down
{
	background: url( '/resources/images/like_icons_bl.png' ) -2px -47px no-repeat;
	width: 13px;
	height: 7px;
	position: absolute;
	bottom: -7px;
	top: auto;
	margin-right: 0px;
	margin-left: 5px;
}