/* Reusable column setup */
.col {
    /*outline: 1px solid red;*/
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

    .col {
        margin-left:1%;
        padding:0 0.5%;
    }

    .col_pn {
        /*padding: 0 0 !important;*/
    }

    .row .col:first-child {
        margin-left:0;
    }
    .second_row .col {margin-top: 20px;}

    .row { clear: both;}

    .span_1 {
        width:7.41666666667%;
    }
    .span_2 {
        width:15.8333333333%;
    }
    .span_3 {
        width:24.25%;
    }
    .span_4 {
        width:32.6666666667%;
    }
    .span_5 {
        width:41.0833333333%;
    }
    .span_6 {
        width:49.5%;
    }
    .span_7 {
        width:57.9166666667%;
    }
    .span_8 {
        width:66.3333333333%;
    }
    .span_9 {
        width:74.75%;
    }
    .span_10 {
        width:83.1666666667%;
    }
    .span_11 {
        width:91.5833333333%;
    }
    .span_12 {
        margin-left:0;
        width:100%;
    }

