/* http://9kg.me
   v0.2 | 20131004
   License: none (public domain)
   Author: Malikov A.V. <alexrettvm@gmail.com>
*/
body {font-size: 13px; font-family: 'UbuntuRegular', 'arimoregular','OpenSansBold',SANS-SERIF; font-weight: 400;  background: #111111 url(../images/asc2.jpg) no-repeat top center; background-attachment: fixed;}
a {text-decoration: none; color: #e19401; font-weight: 600; }
a:hover {text-decoration: underline; }
.container {width: 960px; margin: 150px auto 0; display: block; }
.border {border: 1px solid #1f1f1f;}
.head {display: block; width: 100%; font-family: 'OpenSansBold'}
.vertical_borders { border-left: 1px solid #757575; border-right: 1px solid #1f1f1f; margin: 0px 2px 0 0 !important;}
.vertical_borders:first-child { border-left: none; border-right: 1px solid #1f1f1f; margin: 0px 1px 0 0 !important;}
.vertical_borders:last-child { border-left:  1px solid #757575; border-right: none; margin: 0px 1px 0 0 !important;}
.span_4.vertical_borders {width: 33.444444446% !important;}
.head .video_nav {display: block; overflow-y: auto; height: 362px;}
.head .video_nav li {padding: 0 5px;}
.head .video_nav li a {border-bottom: 1px solid #1f1f1f; padding: 10px 10px 15px; display: block; line-height: 20px;}
.head .video_nav li a b {font-size: 14px; font-family: 'OpenSansBold'; line-height: 16px; text-transform: uppercase; display: block; color: #fdfdfd; padding-bottom: 5px;}
.head .video_nav li a i {font-size: 11px; display: block; color: #f0ba46;}
.head .video_nav li a em {font-size: 11px; display: block; color: #bcb8b8;}
.head .video_nav li a {opacity: 0.5;}
.head .video_nav li a:hover {opacity: 0.8; text-decoration: none;}
.head .video_nav li a.active {opacity: 1;}
.profile_info li {padding-bottom: 3px;}
.profile_info li a {color: #bdb9b9; font-family: 'arimoregular'; font-size: 11px; font-weight: 300;}
.profile_info li:first-child a{font-weight: 600; font-size: 13px; color: #e19401;}
.head .nav li {display: inline-block; padding: 2px;}
.head .nav li a {display: block; padding: 10px 12px 10px 8px; font-size: 14px; color: #c9c9c9; border-right: 1px solid #1f1f1f;}
.head .nav li:last-child a {border-right: none;}
.head .nav li a.active {padding: 10px 10px 10px 10px;border: 1px solid #1f1f1f; border-radius: 3px 3px 3px 3px; background: #242424;}
.head .social li {display: inline-block;}
.horizontal_borders {border-bottom: 1px solid #1f1f1f;border-top: 1px solid #757575;}
.head .horizontal_borders {border-bottom: 1px solid #1f1f1f;border-top: 1px solid #757575;}
.head .horizontal_borders:first-child {border-bottom: 1px solid #1f1f1f;border-top: none;}
.head .horizontal_borders:last-child {border-bottom: none;border-top: 1px solid #757575;}
.header_logo {display: block; width: 110px; height: 56px; margin: 15px 15px; background: url(../images/sp.png) no-repeat 0 0; z-index: 999999;}
.head .profile_block {display: block; margin: 15px 0px;}
.dark_gray {background: #303030; color: #bdb9b9}
.dark_gray.shadow {
    background: #303030 url(../images/shadow.png) repeat-x bottom center !important;
}
.soft_dark_gray {background: #393939; color: #bdb9b9}
.soft_dark_gray.shadow {
    background: #393939 url(../images/shadow.png) repeat-x bottom center !important;
}
.light_gray {
    background: #5a5a5a;
    background: -moz-linear-gradient(top,  #5a5a5a 0%, #4d4d4d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5a5a), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5a5a5a 0%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5a5a5a 0%,#4d4d4d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5a5a5a 0%,#4d4d4d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5a5a5a 0%,#4d4d4d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */

}
a img {outline: none;}
.entry h2 a {color: #1f1f1f; text-decoration: none; font-family: 'OpenSansBold' font-weight: 600; }
.entry h2 a:hover {text-decoration: none;}
#search,
.example {color:#bdb9b9;}
.social {padding: 6px 5px;}
.search_block {padding: 0px 5px 6px;}
.search_block input#search {background: transparent; border: none; width: 100px; font-size: 14px; padding: 10px 10px 0px;}
.content_block {background: #ffffff;}
.btn.dark {display: block; width: 32px; height: 32px; border: 1px solid #1f1f1f; background: #303030; border-radius: 3px 3px 3px 3px;padding: 0px; text-align: center; color: #bdb9b9;}
.btn.dark.wide {width: auto !important; padding: 0 10px;}
.btn.dark:hover {text-decoration: none; background: #1b1b1b;}
.dark_title {font-size: 14px; color: #f0ba46;}
.dark_title small {font-size: 12px; display: block; color: #bdb9b9;}
.margin_10 {margin: 10px 15px}
.content_block {border-bottom: 1px solid #1f1f1f;}
.post_image {margin: 0 20px 20px 0; display: inline-block; vertical-align: top;}
.post_image img { border: 20px solid #f4f4f4;}
.userpic {max-width: 250px;}
.entry_img {width: 100%;}
.userpic_small {width: 57px; max-height: 57px;}
.entries a {color: #af7803;}
.entries .entry {border-bottom: 1px solid #c7c7c7; margin-bottom: 15px; font-size: 13px; font-weight: 400; line-height: 20px; font-family: 'arimoregular'}
.entries .entry:last-child {border-bottom: none;}
.entry_6:first-child {width: 50% !important; margin: 0px !important; border-right: 1px solid #1f1f1f;}
.entry_6:last-child {width: 50% !important; margin: 0px 0px 0 -1px !important;border-left: 1px solid #1f1f1f;}
.header {width: 960px; z-index: 999999;}
.margin_0_10 {margin: 0 0 0px 10px}
.margin_0_0_0_10 { margin: 0 0 0 10px; }
.offset_10 {padding: 10px;}
.offset_10_0 {padding: 10px 0;}
.offset_0_5 {padding: 0 5px;}
.offset_0_15 {padding: 0 15px;}
.offset_0_0_15 {padding: 0 0 15px 0;}
span_6.offset_minus_1 {margin: 0 -1px 0 0 !important;}
h2.title {padding: 0 0 15px; font-weight: 600; font-family: 'OpenSansBold';text-transform: uppercase;}
.pull_right {float: right;}
.pull_left {float: left;}

/*.block_service li,*/
/*.header_navigation li {float: left;}*/
/*.user_navigation li {float: left;}*/
/*.user_navigation li {background: url(../images/user_nav.png) repeat-x top left; margin: 0px; padding: 0px;}*/
.sub_nav {background: url(../images/header.png) repeat-x; width: 960px; border-top: 1px solid #d2d2d2}
/*.user_navigation li {background: url(../images/chr.png) no-repeat bottom left;}*/
.user_navigation li a:hover {
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
    color: #ffffff;
 }
.header_navigation li a:hover {
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
    color: #ffffff;
     border-top: 2px solid #d2d2d2; padding-top: 8px;}
.header_navigation li.social a:hover {border-bottom: 0px solid #3c4145; padding-top: 5px;}

.user_navigation li a {
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
    display: block;  height: 20px;padding: 7px 8px 5px 10px; font-size: 11px; color: #b4bfd7; text-decoration: none; }
.header_navigation li:first-child a {margin-left: 5px;}
.header_navigation li a {
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
    display: block; padding: 10px 15px 10px 10px; color: #b4bfd7; text-decoration: none; }
.header_navigation li.social  {position: relative;}
.header_navigation li.social a {float: left; padding: 10px 10px 5px; background: none;}
.header_navigation li.social a:hover {background: none;}

.block {display: block;}
.ads {padding: 20px 0px;}
.ads .col .block {text-align: center;}
.ads .col .block a img {
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.ads .col .block a:hover img {
    -webkit-filter: brightness(140%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.ads .col:last-child .block {text-align: right;}
.ads .col:first-child .block {text-align: left;}

/* Reusable column setup */
.col {
    /*outline: 1px solid red;*/
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.col {
    margin-left:1%;
    /*padding:0 0.5%;*/
}

.col_pn {
    /*padding: 0 0 !important;*/
}

.row .col:first-child {
    margin-left:0;
}

@-ms-viewport{width:device-width}.row:before,.row:after { content:" "; display:table; }
.row { clear: both; }
.row:after { clear:both; }
.span_1 {
    width:7.41666666667%;
}
.span_2 {
    width:15.8333333333%;
}
.span_3 {
    width:24.25%;
}
.span_4 {
    width:32.6666666667%;
}
.span_5 {
    width:41.0833333333%;
}
.span_6 {
    width:49.5%;
}
.span_7 {
    width:57.9166666667%;
}
.span_8 {
    width:66.3333333333%;
}
.span_9 {
    width:74.75%;
}
.span_10 {
    width:83.1666666667%;
}
.span_11 {
    width:91.5833333333%;
}
.span_12 {

    margin-left:0;
    width:100%;
}
.span_logo {
    display: block;
    float: left;
    margin-left:0;
    width:110px;
    padding:7px;
    position: relative;
}
.span_social {
    display: block;
    float: left;
    margin-left:0;
    width:110px;
    padding:7px;
    position: relative;
}
.span_search {
    display: block;
    float: right;
    margin-left:0;
    width:500px;
    padding:0px;
    position: relative;
}
.span_navigation {
    margin-left:-110px;
    padding: 0 0 0 110px;
    width:100%;
}
.to_top {display: none;}
.is-sticky .to_top {z-index: -1;display: block; position: fixed; top: 0px; left: 0px; width: 120px; height: 100%; background: #000000; opacity: 0.5; color: #ffffff; text-align: center; padding-top: 20px;}

@media screen and (max-width: 1212px) {
    .is-sticky .to_top {display: none !important;}
}

.panel {z-index: 999999999999;}
.btn {display: inline-block; line-height: 34px; padding: 0 10px; border: none;}
.orange {background: #e19401 !important;}
.black {background: #000000 !important;}
.white {background: #ffffff;}
.offset_vertical_10 {padding: 10px 0;}
.offset_15 {padding: 15px;}
.offset_20 {padding: 20px;}
.offset_top_20 {margin-top: 20px; display: block;}
span.greay {color: #666;}
i.icon {display: inline-block; vertical-align: middle;}
i.icon.mail { background: url(../images/sp.png) no-repeat 0px -70px; width: 17px; height: 17px;}
i.icon.rss { background: url(../images/sp.png) no-repeat -77px -98px; width: 17px; height: 17px;}
i.icon.comment { background: url(../images/sp.png) no-repeat -60px -95px; width: 17px; height: 17px;}
i.icon.fb { background: url(../images/sp.png) no-repeat -74px -126px; width: 24px; height: 24px;}
i.icon.vk { background: url(../images/sp.png) no-repeat -0px -126px; width: 24px; height: 24px;}
i.icon.yt { background: url(../images/sp.png) no-repeat -49px -126px; width: 24px; height: 24px;}
i.icon.tw { background: url(../images/sp.png) no-repeat -24px -126px; width: 24px; height: 24px;}
i.icon.search { background: url(../images/sp.png) no-repeat -25px -98px; width: 19px; height: 19px;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    transition: background 300ms ease;
}
i.icon.search:hover { background: url(../images/sp.png) no-repeat -25px -70px; width: 19px; height: 19px;
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    transition: background 300ms ease;
}

i.icon.fb,
i.icon.tw,
i.icon.vk,
i.icon.yt {opacity: 0.5 !important;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

a:hover i.icon.fb,
a:hover i.icon.tw,
a:hover i.icon.vk,
a:hover i.icon.yt {opacity: 1 !important;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.header {background: url(../images/header.png) repeat-x; height: 70px;}
/*div.search {position: absolute; top: 0px; left: -10px; width: 203px;}*/
/*div.search button {display: none;}*/
div.search button {height: 35px; width: 35px; background: transparent; cursor: pointer;}
div.search a.btn {height: 35px; width: 35px;  padding: 3px 0 0 0; text-align: center; vertical-align: bottom}
div.search a.btn:hover {height: 35px; width: 35px;  padding: 3px 0 0 0; text-align: center; vertical-align: bottom}
div.search a.close_search {right: -37px !important;}
div.search .btn i {margin-top: -2px;}
div.search input {vertical-align: bottom; width: 75px; margin: 0px; padding: 7px 10px 5px; color: #cccccc; border: none; background: transparent; }
.block_title {display: inline-block; background: #e19401; display: inline-block; line-height: 34px; padding: 0 20px; clear: both; margin: 0px 0; font-size: 14px; color: #fff;}

.borders {border-top: 1px dotted #d2d2d2;}
.borders .col {border-right: 1px dotted #d2d2d2; height: 370px;}
.borders .col:last-child {border-right: 0px solid #d2d2d2;}

.borders .block img {width: 100%; max-height: 220px;}
h2 {font-size: 16px; line-height: 16px; padding: 10px 0 10px;}

.footer {background: #000000 url(../images/header.png) repeat-x; }
/*.footer .footer_navigation li {display: block; margin: 5px 0 5px 0;}*/
.footer h3 {color: #ccc; font-size: 16px;}
.footer ul li {display: block; margin: 5px 0 5px 0;}
.footer p { color: #ccc;}

.borders_comment {border-top: 1px dotted #d2d2d2; margin-top: 20px;}
.borders_c {border: 1px dotted #d2d2d2; margin-bottom: 20px;}
.borders_c .col {border-right: 1px dotted #d2d2d2; }
.borders_c .col:last-child {border-right: 0px solid #d2d2d2;}

h2 {font-size: 16px; line-height: 16px; padding: 10px 0 10px;}
.date {margin-top:5px; color: #888888; font-size: 11px;}

.footer {background: #000000 url(../images/header.png) repeat-x; }
/*.footer .footer_navigation li {display: block; margin: 5px 0 5px 0;}*/
.footer h3 {color: #ccc; font-size: 16px;}
.footer ul li {display: block; margin: 5px 0 5px 0;}
.footer p { color: #ccc;}
.content {font-size: 14px; line-height: 22px; font-family: 'arimoregular'}
strong, .strong, b {font-weight: bold !important;}
i {font-style:  italic !important;}
.comment blockquote,
.comment q
{ display: block; padding-left: 20px; border-left: 2px solid #ccc; font-style:  italic !important; color: #777;}
.comment .offset_10 {line-height: 24px;}
.content ol, 
.content ul {padding: 10px 10px 10px 0px; display: inline-block; }
.content ul li {margin: 5px 10px; list-style: square;}
.content ol li {margin: 5px 10px; list-style: decimal;}
.content table {border: 1px solid #f4f4f4; border-collapse: collapse; margin: 10px;}
.content table th {border: 1px solid #f4f4f4; padding: 10px; font-weight: bold; text-align: left;}
.content table td {border: 1px solid #f4f4f4; padding: 10px;  text-align: left;}
.content strike {text-decoration: line-through;}
.content h1 {font-size: 28px;}
.content h2 {font-size: 24px;}
.content h3 {font-size: 20px;}
.content h4 {font-size: 18px;}
.content h5 {font-size: 16px;}
.content h6 {font-size: 14px;}
.content p { margin: 0 0 10px 0; }

.table {width: 100%; padding: 10px; border-collapse: collapse; border: 1px solid #bdb9b9; margin: 15px 0;}
.table td {border-bottom: 1px solid #bdb9b9;border-left: 1px solid #bdb9b9; padding: 15px; }
.alert {display: block; padding: 20px; margin: 20px 0; clear: both;}
.alert.info {border: 1px dashed #b4bfd7; background: #d3dcef; color: #555f73;}
.alert.danger {border: 1px dashed #F99; background: #FCC; color: #333;}
.avatar {width: 100%; outline: none; }
.avatar_block {display: block; width: 60px; height: 60px; overflow: hidden; background-size: cover !important;
    background-position: center; margin: 0px;}
.lh16 {line-height: 16px;}
.summary {font-size: 11px; color: #666;}

ul.comments li {border: none; padding-bottom: 10px; margin-bottom: 10px;}
ul.comments li:first-child {border-top: none;}
.comment.odd .post-data  {background: #f2f5fa;}
.comment.even .post-data  {background: #fafaf2;}
.comments .lh16 { vertical-align: middle; }
.addToFavorite, .rating {color: #999; text-decoration: none !important; font-size: 16px;}
.removeFromFavorite {color: #e19401; text-decoration: none !important; font-size: 16px;}
.addToFavorite:hover,
a.rating:hover,
.addToFavorite.active {color: #e19401;}
.removeFromFavorite:hover,
.removeFromFavorite.active {color: #999;}
.comment .post-data {border-radius: 0px 20px 20px 20px; border: 1px solid #e4e4e4;}
.comments .groupIcon { display: block; margin: 5px 0 0 0; }
.comment-area { width: 816px; max-width: 816px !important; border: 1px solid #d2d2d2; height: 130px; }

.pagination {
    /*background: #f2f2f2;*/
    padding: 20px;
    margin-bottom: 20px;
}

.pagination .page {
    display: inline-block;
    padding: 10px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.pagination .page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}
.pagination .page.current:hover,
.pagination .page.current {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.body-lock {overflow: hidden;}
.post h1,
.post h2,
.post h3 { padding: 10px 0px 20px; font-family: 'OpenSansBold'}
.post h1 { font-size: 28px; line-height: 26px; }
.post h2 { font-size: 24px; line-height: 22px; }
.post h3 { font-size: 18px; line-height: 16px; }
.helpTags {
    border-bottom: 1px dotted;
    font-size: 11px;
    color: #069;
    display: block;
}
.right {float:right;display:block;}
.field label { font-weight: bold; }
.searchTypes { margin: 10px 0 50px 0; }
.searchTypes span { margin: 0 10px 0 0; background: #EFC677; padding: 8px; border-radius: 10px; }
.searchTypes span a { color: #B87900; text-decoration:none; }
.searchTypes span a:hover { color:#FFFFFF; text-decoration:none; }
.searchTypes span.active { background:#CCA160; }
.searchTypes span.active a { color:#000000; }
.dynamicCount { border-radius: 5px; padding: 5px; }
.fromComment {  }
.pagination span.current { background:red; padding:5px; margin:5px; }

#tabs_wrapper div {
    display:none;
}
#tabs_wrapper.tab1 div.tab1 {
    display:block;
    width:100%;
}
#tabs_wrapper.tab2 div.tab2 {
    display:block;
    width:100%;
}
#tabs_wrapper.tab3 div.tab3 {
    display:block;
    width:100%;
}
#tabs_wrapper.tab1 a.tab1 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#tabs_wrapper.tab2 a.tab2 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#tabs_wrapper.tab3 a.tab3 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
img.width-auto {max-width: 200px;}
.percentage {width: 959px; height: 1px; background: transparent; position: absolute; top: 0px;}
.percent {width: 0%; height: 1px; background: #f0ba46;}
#updateProfileForm div.field { margin: 5px 0 5px 0; }

/* https://github.com/necolas/css3-github-buttons */
.button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#525252), to(#303030));
    background-image: -moz-linear-gradient(#525252,#303030);
    background-image: -o-linear-gradient(#525252,#303030);
    background-image: linear-gradient(#525252,#303030);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url("../images/gh-icons.png") 0 99px no-repeat;
}

.button.edit.icon:before { background-position: 0 -264px; }
.button.edit.icon:hover:before,
.button.edit.icon:focus:before,
.button.edit.icon:active:before { background-position: -12px -264px; }

.button.add.icon:before { background-position: 0 -288px; }
.button.add.icon:hover:before,
.button.add.icon:focus:before,
.button.add.icon:active:before { background-position: -12px -288px; }

.button.remove.icon:before { background-position: 0 -60px; }
.button.remove.icon:hover:before,
.button.remove.icon:focus:before,
.button.remove.icon:active:before { background-position: -12px -60px; }

.newMessageBlock { padding:2px; }
.newMessageBlock .wrap .error { border: 1.5px solid #A1441D!important; }
.newMessageBlock .wrap { width: 50%; display: block; }
.newMessageBlock .wrap .avatar { width: 120px; height: 120px; float: left; }
.newMessageBlock .wrap .fieldSet { display: block; margin-left: 140px; }
.newMessageBlock .wrap .credentials { }
.newMessageBlock .wrap .fieldSet input:focus { outline-width: 0; }
.newMessageBlock .wrap .fieldSet input { margin: 5px 0 0 0; display: block; border: 1px solid #C0C0C0; width: 100%; height: 20px; cursor: text; }
.newMessageBlock .wrap .fieldSet label { font-weight: bold; }
.newMessageBlock .wrap .fieldSet p { margin-top: 20px; }
.newMessageBlock .wrap .input { display: block; margin-top: 45px; }
.newMessageBlock .wrap .input textarea:focus { outline-width: 0; }
.newMessageBlock .wrap .input textarea { width: 100%; height: 100px; border: 1px solid #C0C0C0; }
.newMessageBlock .wrap .input .mailPanel { margin: 10px 0 0 0; }
.newMessageBlock .wrap .input .attach { float:right; margin:5px 0 0 0; }
.newMessageBlock .wrap .input .button {  }
.newMessageBlock .wrap .pseudoInput { background-color: inherit; border:0!important; margin:0!important; float: left; width: auto!important; display: inline!important; }
.newMessageBlock .wrap .pseudoInput:focus { outline-width: 0; }
.newMessageBlock .wrap .pseudoInputDiv { margin: 5px 0 0 0; border: 1px solid #C0C0C0; width:100%; cursor:text; }
.newMessageBlock .wrap .pseudoInputDiv td
{
    border: none;
    overflow: hidden;
    position: relative;
}
.newMessageBlock .wrap .pseudoInputDiv table td
{
    vertical-align: middle;
}
.newMessageBlock .wrap .selectorContainer { zoom: 1; }
.newMessageBlock .wrap .pseudoInputDiv .selectedItems 
{ 
    display: none;
}
.newMessageBlock .wrap .pseudoInputDiv .selectedItems .userName {  }
.newMessageBlock .wrap .pseudoInputDiv .selectedItems .close { 
    background: url("../images/tag_remove.png") center no-repeat;
    background-size: 8px 8px;
    display: inline-block;
    width: 16px;
    height: 8px !important;
    cursor: pointer !important;
    vertical-align: top;
    padding: 0;
    margin: 2px 0 0 2px !important;
}

.newMessageBlock .wrap .pseudoInputDiv .selectedItems .token
{
    font-size: 1em;
    line-height: 1em;
    color: #000000;
    background: #DAE2E8;
    white-space: nowrap;
    float: left;
    margin: 0;
    border: solid #FFF;
    border-width: 2px 2px 3px 1px;
    padding: 2px 2px 3px 4px !important;
}

.newMessageBlock .wrap .pseudoInputDiv .selectedItems .hover { background: #2A5883; color: #FFFFFF; cursor:default!important; }
.newMessageBlock .wrap .pseudoInputDiv .selectedItems .token:hover { background: #2A5883; color: #FFFFFF; cursor:pointer; }

.popupMailForm .wrap { width:450px; }

.dropListField { }
.dropListField .dropList { display:none; width:317px; border: 1px solid #ADADAD; position: absolute; background-color: #ffffff; bottom: auto; border-top-width:0; }
.dropListField .dropList ul { position: relative; border-top-width:0; border-bottom-width:0; }
.dropListField .dropList ul li { padding: 5px; border-top: 1px solid #ADADAD; cursor:pointer; }
.dropListField .dropList ul li.hover { background-color: #ACACAC; color:#ffffff; }
.dropListField .dropList ul li:first-child { border-top:0; }

.mailList {}
.mailList table.tbl { height: 100%; border-collapse: collapse; }
.mailList .tbl tr, input.checkBox { cursor: pointer; }
.mailList .tbl tr:hover { background-color: #EFEFEF !important; }
.mailList .tbl tr.active { background-color: #D5D5D5 !important; }
.mailList .tbl td { vertical-align: middle; }
.mailList .tbl .messageImg { width: 60px; }
.mailList .tbl .messageImg img { width: 50px; height:50px; }
.mailList .tbl .messageSelect { width: 34px; text-align: left; }
.mailList .tbl .messageInfo { text-align: left; width:20%; }
.mailList .tbl .messageInfo div { margin-left: 20px; white-space: nowrap; }
.mailList .tbl .messageInfo .nick {  }
.mailList .tbl .messageInfo .dt { font-size: 11px; color:#AAAAAA; margin-top: 5px; }
.mailList .tbl .messageBody { width: 65%; }
.mailList .tbl .messageBody .subject { font-weight: bold; margin: 0 0 5px 0; }
.mailList .tbl .messageBody .body {  }
.mailList .tbl .del { width:150px; text-align: left; }
.mailList .hiddenMailPanel { visibility: hidden; }
.mailList .tbl tr.unreadMail { background-color: #F5F9FB; }
.mailList .tbl tr.messageRow td { border-bottom:1px solid #DAE1E8; }
.mailList .tbl tr.messageRow td { margin-top:10px; padding: 1em 0 1em 0; }
.mailList .mailHood { width:100%; border-bottom:1px solid #DAE1E8; margin: 10px 0 0 0; }
.mailList .mailHood .mailTotal { font-weight: bold; }
.mailList .mailBoxes { margin: 15px 0 5px 0; }
.mailList .mailBoxes ul { list-style: none; padding:0; margin:0; }
.mailList .mailBoxes ul li { display: inline; padding: 5px; margin: 0 0.5em 0 0; border-radius: 5px 5px 0 0; cursor: pointer; }
.mailList .mailBoxes ul li:hover { background-color: #CACACA; }
.mailList .mailBoxes ul li.active { background-color: #303030; }
.mailList .mailBoxes ul li a { color:#000000; }
.mailList .mailBoxes ul li a:hover { text-decoration: none; }
.mailList .mailBoxes ul li.active a { color: #CACACA; }
.mailList #listForm p { margin-top: 5px; }

.messageBlock {  }
.messageBlock .wrap {  }
.messageBlock .replyToTextForm { width: 100%; height: 150px; border: 1px solid #C0C0C0; }
.messageBlock .messageText { margin-bottom: 50px; }
.messageBlock .mailPanel { margin-top: 5px; }
.messageBlock .senderAvatar { float: left; margin: 0 20px 20px 0; border: 20px solid #f4f4f4; }
.messageBlock .senderAvatar .nick { text-align: center; margin: 5px; font-weight: bold; }
.messageBlock .mailStrike { margin: 0 0 10px 260px; border-bottom: 1px solid #E7EAED; padding-bottom: 10px; }
.messageBlock .mailSubject { font-weight: bold; font-size: 28px; }
.messageBlock .mailInfo { margin: 0 0 10px 0; color: #C0C0C0; font-size:12px; }
.messageBlock .showHistory { clear: both; text-align: center; margin: 20px; background-color: #F4F4F4; padding: 20px 0 20px 0; cursor: pointer; }
.messageBlock .showHistory:hover { background-color: #D9D9D9; font-weight: bold;  };
.messageBlock .showHistory .messages { clear:both; border: 1px solid #C0C0C0; text-align: center; display: none; }
.messageBlock .showHistory .messages img { margin-top: 15px; }
.messageBlock table.mailHistory { clear:both; width:100%; border-spacing: 0; border-collapse: collapse; }
.messageBlock table.mailHistory .userNick { width: 15%; text-align: left; white-space: nowrap; }
.messageBlock table.mailHistory td { padding: 0 0 10px 0; }
.messageBlock table.mailHistory .message { text-align:left; }
.messageBlock table.mailHistory .message .ttl { font-weight: bold; margin: 0 0 5px 0; }
.messageBlock table.mailHistory .messageTime { width: 5%; text-align: right; white-space: nowrap; }
.messageBlock .messages { clear:both; text-align: center; }

.userProfile, .open .socialButtons { margin: 10px 0 0 0; }
.userProfile, .open .socialButtons .btn { margin: 0 0 1px 0; display: block; text-align: left; padding: 0; }
.userProfile, .open .socialButtons .btn button { width:100%; }

.replyAction { cursor:pointer; }
.suggestionLogin { margin:5px; }
.footer_content { height: 40px; vertical-align: middle; }