body {background-position: top center; font-family: Arial; font-size: 12px;}
.box {display: block; height: 70px; line-height: 70px;}
.clear {clear: both;}
img {border-radius: 10px 10px 50px 5px;}
.wrapper {width: 1022px; height: 100%; margin: 200px auto 0; display: block;  box-shadow: 0px 10px 90px #000;}
.panel {display: block; width: 100%; height: 124px; margin: 0 auto 0px;
    background-image: url('/resources/images/gr_1.png'); border-radius: 5px 5px 0 0;
}
.gray {color: #c4c4c4;}
.indent-bottom {margin: 20px 0;}
.post-info {padding: 0px; margin: 10px 0; color: #666;}
.post-info li {padding: 0px 10px 0 0; margin: 0px; list-style: none; display: inline-block;}
.post-info li span {display: inline-block; padding: 0 2px 0 0; font-size: 16px;}
.news-large-description {border-left: 1px solid #cccccc; margin: 10px 0px;}
.news-large-preview {display: block; width: 100%; position: relative;}
.news-large-preview img {border-radius: 10px 10px 50px 5px; width: 100%;}
.news-large-preview .label {padding: 5px 10px; position: absolute; bottom: 10px; right: 0px; box-shadow: -3px 0 5px #000;}
.gr_2 {background: url('/resources/images/gr_2.png') no-repeat}
.margin-10 {margin: 15px 0 0 15px;;}
.social {display: block; width: 21px; height: 21px; background: url('/resources/images/sp.png'); margin: 27px 2px 0;}
.social.fb {background-position: 0 89px;}
.social.tw {background-position: -31px 89px;}
.social.vk {background-position: -62px 89px;}
.social.yt {background-position: -93px 89px;}
.sp {display: block; background: url('/resources/images/sp.png') no-repeat;}
.sp.logo {width: 189px; height: 47px; background-position: -179px 0;}
.sp.search-dark {width: 13px; height: 13px; background-position: 0px -16px;}
.sp.login {width: 13px; height: 13px; background-position: -62px -31px;}
p {font-size: 14px; line-height: 20px;}
h1, h2, p {padding: 10px 10px; margin: 10px;}
h1, h2 { padding-left: 20px; margin: 20px 10px 0 -10px;}
h1 {font-size: 30px;}
h2 {font-size: 22px;}
h3 {font-size: 18px; color: #000; margin: 10px 0}
h3 a {color: inherit; text-decoration: none;}
.panel ul { clear: both; list-style: none; margin: 0px; padding: 0px; background-image: url('/resources/images/gr.png'); display: block; height: 60px; width: 100%;}
.panel ul li {float: left; list-style: none; margin: 0px; padding: 0px;}
.panel ul li a {display: block; padding: 20px 30px; text-decoration: none; background: url('/resources/images/br.png') no-repeat center right}
.panel ul li form {padding: 12px 6px 0; text-decoration: none; }
.panel ul li.no-border a,
.panel ul li:last-child a {border-right: none; background: none;}
.panel ul li a:hover {padding-top: 17px;}
.block {display: block; width: 100%; margin: 0 auto; background: #ffffff; clear: both; }
.content {display: block; margin: 0 auto; clear: both; padding: 10px}
.pull-right {float: right !important;}
.pull-left {float: left  !important;}
input[type=text],input[type=password],input[type=submit],button {border-radius: 2px 2px 2px 2px;}
input[type=text],input[type=password] { border: none; line-height: 25px; height: 25px; padding: 0 10px; }
input[type=submit],button {cursor: pointer; border: none; height: 25px; line-height: 21px; padding: 0 10px; display: inline-block; vertical-align: middle; margin-top: -2px; background-image: url('/resources/images/gr_0.png'); background-position: center center;}
.colors {position: absolute; top: 0px; left: 10px; border: 1px solid red;}
.colors ul li {float: left; list-style: none; height: 20px; width: 20px; display: block;}
.comments {margin: 0px; padding: 0px;}
.comments ul {margin: 0px 0 0 30px; padding: 0px;}
.comments ul:first-child {margin: 0px 0 0 0px !important; padding: 0px;}
.comments ul li {margin: 0 0 20px 0px; padding: 0px; border-left: 1px dashed #ddd;}
.comments div.span_11:hover {background: #f4f4f4;}

.comments ul li p {margin: 0px; padding: 0px; font-size: 12px;}
.comments ul li div.span_11 {border-bottom: 1px dashed #ddd; padding: 0 0 20px;}
.comments ul li span.gray {font-size: 11px; }
.footer {display: block; background: #333;}
.footer .nav {margin: 20px 0px;}
.footer .copyright {color: #fff; font-size: 11PX;}
.footer ul li a {color: #ffffff; padding: 5px 10px; display: block;}

/* стили, которые добавил Андрюша Багринцев */

.body-lock {overflow: hidden;}
.popup-layer .close-btn {float:right;z-index:13!important;cursor:pointer!important;margin:-20px -20px 0 0;}

.popup {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);
    background: #fff;
    vertical-align: middle!important;
    text-align:left;
    padding: 24px;
    background: #FEFEFE;
    border: 1px solid #CAD8DE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font: 14px/18px Arial, Tahoma, sans-serif;
    z-index:999!important;
}

.popup_valignfix {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle!important;
 }

.popup_overlay_ie {
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70);
}

.popup-layer:after {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 100%;
    width: 0;
    vertical-align: middle!important;
    content: '';
}

.twilight-effect {position:fixed;z-index:1001!important;top:0;left:0;height:100%;width:100%;background-color:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=35);-moz-opacity: 0.35;-khtml-opacity: 0.35;opacity: 0.35;}
.popup-layer
{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    z-index:15!important;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.3);
    vertical-align: middle!important;
}